/*Selector universal*/
* {
  margin: 0px;
  padding: 0px;
  text-align: left;
  background: #ffffff;
}
/*Selector etiqueta*/
h1 {
  font-family: poppins;
  font-size: 50px;
  color: #3b5441;
  margin: 20px 50px;

} 
/*Selector etiqueta*/
h6 {
  margin: 20px 50px; 
  font-family: poppins;
  font-size: 20px;
  color: #3b5441;
}
/*Selector de etiqueta*/ 
hr {
  margin: 10px 50px; 
}


